[package]
name = "nina"
version = "0.1.0"
description = "Nina - A self-publishing protocol"
edition = "2018"

[lib]
crate-type = ["cdylib", "lib"]
name = "nina"

[features]
no-entrypoint = []
no-idl = []
cpi = ["no-entrypoint"]
default = ["test"]
test = []

[dependencies]
anchor-lang = "0.19.0"
anchor-spl = "0.19.0"
spl-token = { version = "3.2.0", features = ["no-entrypoint"] }
solana-program = "1.8.0"
thiserror = "1.0"
metaplex-token-metadata = { version="0.0.1", features = [ "no-entrypoint" ] }